@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
#refresh{
    height: 50px;
    width: 70px;
    border: none;
    color: white;
    border-radius: 4px;
    background-color: #4040a1;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin-left: 90%;
    margin-top: 10px;
    
}

#refresh:hover{
    background-color: #80ced6;
}


 li{
    margin-top: 60px;
    margin-left: 15%;
    font-family:'Ubuntu', sans-serif;
    color: green;
    font-size: 30px;
   
}

li a{
    text-decoration: none;
    color: black;
} 

p{
    font-size: 60px;
}