@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.chat-messages-show-container{
    
    background-color:  #e3e0cc;
    height: 72vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 5px;
 }
 .chat-messages-show-list {
    list-style-type:none;
    margin: 0;
    padding: 0;
 }
 .chat-messages-create-container{
   
    background-color:#6b5b95;
    height: 12vh;
    display: flex;
    justify-content: center;
    border-radius: 3px;
 }
 .chat-messages-create-input {
    padding: 12px;
    margin: 15px ;
    width:50vw;
    border-radius: 10px;
    border: none;
 }
 .chat-messages-create-button {
    height: 60px;
    width: 80px;
    margin: auto 40px;
    border-radius: 11px;
    background-color: #622569;
    border: none;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;

 } 
 .chat-messages-create-button:hover{
    background-color:#034f84 ;
    
 }


 .msg-list{
   
   background:#f0f0f0; 
   padding : 15px 30px; 
   margin: 10px ;
   border-radius: 8px;
   display: inline-block;
 }
 .msg-label{
   margin: 3px ;
   font-family: 'Ubuntu', sans-serif;
   font-size: 14px;
   color:black;
   font-weight: bold;
   
 }
 .show_left{
    
    display: block;
    margin-left: 90%;
 }
 .show{
   text-align: right;
 }