



<h1 >welcome to the Dashboard {{user}}</h1>
<form action="">
    <div class="dasboard-container">

        <div class="dashboard">
            <label>Room Name</label><br>
            <input type="text" placeholder="Enter the room name" required>
            <br><br>
            <label>Room Type</label><br>
            <input type="text" placeholder="enter the type of the room " required>
            <br><br>
            <label>No.of members</label><br>
            <input type="number" placeholder="enter the no.of members " required>
            <br><br>
            <label>Enter the topic</label><br>
            <input type="text" placeholder="enter the topic " required>
            <br><br>
            <label>Admins</label><br>
            <input type="number" placeholder="enter the no of admin" required>
        </div>
      
    
    </div>
    <div class="btn">
        <input type="submit">
    </div>
</form>
